input{
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #000000 !important;
}

input:focus{
    box-shadow: none !important;
}

input::placeholder{
    color: #000 !important;
    font-size: 20px !important;
}

.wid{
    width: 270px !important;
}

.text{
    font-size: 50px !important;
    font-weight: 600 !important;
}
